<section>
    <h3 class="my-text">
        Đây là component Home.
    </h3>
    <p>Chứa các giao diện đã được đóng gói cho chức năng Home</p>
    <p>Code css không ảnh hưởng đến thành phần bên ngoài của component</p>
</section>
<section>
    <h4>Data Binding Value. Xin chào {{name}}</h4>
    <input type="text" value="{{name}}">
    
</section>
<section>
    <h4>Data Binding Properties</h4>
    <input type="text" [value]="birthday">
    <input [title] ="titleNote + name + ' ?'" type="text" [placeholder] ="addressHolder">
</section>
<section>
    <h4>Data Binding *ngIf - Kết nối giá trị từ code => html</h4>
    <i *ngIf="age >= 18">Bạn đã đủ 18 tuổi</i>
    <i *ngIf="age < 18">Bạn chưa đủ 18 tuổi</i>
</section>
<section>
    <h4>Data Binding Events binding</h4>
    <input type="text" [(ngModel)]="name2" placeholder="Nhập tên mới">
    <h5>Xin chào <b>{{name2}}</b></h5>
    <button (click)="resetName()">Reset Tên</button>
</section>
<section>
    <h4>ngIf: if-then-else và ng-template</h4>
    <p>Nhập số tuổi: <input type="text" [(ngModel)]="age2"></p>
    <div *ngIf="age2 >= 18; then old; else young"></div>
    <ng-template #other>Bạn vui lòng nhập số tuổi</ng-template>
    <ng-template #old>Bạn đã đủ 18 tuổi</ng-template>
    <ng-template #young>Bạn chưa đủ 18 tuổi</ng-template>
</section>
